* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

#create-task form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#create-task {
    width: 40%;
    background-color: rgb(220, 220, 220);
}

#tasks-list-container {
    background-color: rgb(220, 220, 220);
    width: 60%;
    height: fit-content;
}

#tasks-list-container p {
    text-align: center;
    padding: 10px;
}

#tasks-list-container ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 24px;

    list-style: none;
}

#tasks-list-container ol li {
    display: flex;
    flex-direction: row;
    background-color: rgb(180, 180, 180);
    border-radius: 14px;
    width: fit-content;

}

#tasks-list-container ol li p:first-child {
    background-color: rgb(120, 120, 120);
    border-radius: 14px;
    color: white;
    font-weight: bold;

}

#tasks-list-container ol li div {
    display: flex;
    flex-direction: row;
    padding: 0;
    border-radius: 14px 0px 0px 14px;
    border-right: 3px solid rgb(0, 0, 0);
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}

main div {
    padding: 15px;
    border-radius: 14px;
}

input {
    font-size: 18px;
    padding: 10px;
}

button {
    font-size: 24px;
    padding: 10px;
}

textarea {
    padding: 10px;
    min-width: min-content;
    max-width: 100%;

}

hr {
    margin: 10px 0;
}