* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

#create-task form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#create-task {
    width: 40%;
    background-color: rgb(220, 220, 220);
}

#tasks-list-container {
    background-color: rgb(220, 220, 220);
    width: 60%;
    height: fit-content;
}

#tasks-list-container p {
    text-align: center;
    padding: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

main div {
    padding: 15px;
    border-radius: 14px;
}

input {
    font-size: 18px;
    padding: 10px;
}

button {
    font-size: 24px;
    padding: 10px;
}

textarea {
    padding: 10px;
    min-width: min-content;
    max-width: 100%;

}

hr {
    margin: 10px 0;
}